.sidebar{
  max-width: 25%;
  width: 275px;
  background-color: #131133;
  padding: 20px;
  color: #fff;
  /* height: 100%; */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}
.sidebar .logo{
  width: 100%;
  margin-bottom: 20px;
}
.sidebar .logo img{
  width: 100%;
}
.sidebar ul{

}
.app-layout{ 
  /* display: flex; */
  position: relative;
  width: 100%;
  height: 100%;

}
#root{
  height: 100%;
}
.sidebar .nav-link.active {
  background-color: #fe6c18;

}
.sidebar .nav-link{
  color: #7d8099;
      padding: 8px 20px;
    position: relative;
    align-items: center;
    transition: all .4s;
    font-size: .938rem;
    font-weight: 500;
    margin-bottom: 10px;

}
.main{
  width: 100%;
padding-left: 275px;
  
    height: 100%;
}
.header{
  padding: 20px 30px 10px;
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: center;
  gap: 30px;
}
.header .log{
  height: 43px;
  /* overflow: hidden; */
}
.header .log img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.search{
  position: relative;


}
.search input{
  padding: 6px 33px;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #bfbfbf;
} 
.svg{
  position: absolute;
  top: 0;
  left: 8px;
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  opacity: 0.3;
}
.mainbody{
  padding: 20px;


}
.table, table{
  width: 100%;
}
.table thead tr th{
  padding: 20px;
  font-weight: 500;
  /* background-color: #eef0f3; */
}
.fltbtn{
  font-weight: 500;

}
.table tbody tr{
      border-color: #eaeaea;

}
.table tbody tr td{
  padding: 20px;
}
.head{
  font-size: 25px;
  padding-bottom: 20px ;
}
.action button{
  box-shadow: none;
  border: none;
  padding: 10px 20px ; 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius:10px ;
  background-color: rgb(234 238 255);
}

.action button.delete{
  background-color: rgb(255, 202, 202);
  color: red;
}
.action button.delete svg path{
  fill: red;
}
.action button svg path{
  fill: rgb(69, 103, 255);
}
.action button svg{
  height: 18px;
  color: rgb(234 238 255);
}
.profile h3{
  font-size: 16px;
  margin-bottom: 20px;
  color: #6f6f6f;
}
.profile h3 span, h3.com{
  color: #000000;
  font-size: 20px;
  display: block;
  margin-top: 6px;
}
.profile .row{
  gap: 20px 0;
}
.profile p{
  margin-bottom: 6px;
  font-weight: 700;
}
.profile p span{
  font-weight: 500;
   color: #6f6f6f;
   display: block;
}
.profile h3 span a{
  color: #1874fe;
  border: none;
  box-shadow: none;
  background-color: transparent;
  text-decoration: none;
}
.fltbtn{
  display: flex;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* font-weight: 700; */
}
.fltbtn svg{
  height: 15px;
}
@media (max-width:786px) {
  .main{
    padding-left: 205px;
  }
  .sidebar{
    width: 205px;
  }
  .table{
    overflow: scroll;
  }
  .action button{
    margin-bottom: 10px;
  }
}
@media (max-width:786px) {
  .sidebar{
    display: none;
  }
      .main {
        padding-left: 0px;
    }
    .header{
      gap: 8px;
    }
    .search input{
      max-width: 208px;
    }
}